input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.8);
  text-align: right;
  padding-top: 1px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
